# {{ ansible_managed }}

description "{{ item.service_name }}"
author "Kevin Carter <kevin.carter@rackspace.com>"

start on runlevel [2345]
stop on runlevel [016]

respawn
respawn limit 10 5

kill timeout {{ cinder_sigkill_timeout }}

# Set the RUNBIN environment variable
env RUNBIN="{{ cinder_bin }}/{{ item.service_name }}"

# Change directory to service users home
chdir "{{ cinder_system_home_folder }}"

# Pre start actions
pre-start script
  mkdir -p "/var/run/{{ item.service_name }}"
  chown {{ cinder_system_user_name }}:{{ cinder_system_group_name }} "/var/run/{{ item.service_name }}"

  mkdir -p "/var/lock/{{ item.service_name }}"
  chown {{ cinder_system_user_name }}:{{ cinder_system_group_name }} "/var/lock/{{ item.service_name }}"

  . {{ cinder_bin }}/activate

end script

# Post stop actions
# Sleep configured number of seconds between restarts
post-stop script
  rm "/var/run/{{ item.service_name }}/{{ item.service_name }}.pid"
  sleep {{ cinder_restart_wait }}
end script

# Run the start up job
exec start-stop-daemon --start \
                       --chuid {{ cinder_system_user_name }} \
                       --make-pidfile \
                       --pidfile /var/run/{{ item.service_name }}/{{ item.service_name }}.pid \
                       --exec "{{ program_override|default('$RUNBIN') }}" \
                       -- {{ program_config_options|default('') }} \
                       --log-file=/var/log/cinder/{{ item.service_name }}.log
