[uwsgi]
uid = {{ cinder_system_user_name }}
gid = {{ cinder_system_group_name }}

virtualenv = /openstack/venvs/cinder-{{ cinder_venv_tag }}
wsgi-file = {{ cinder_bin }}/{{ item.wsgi_name }}
http-socket = {{ item.uwsgi_bind_address }}:{{ item.uwsgi_port }}

master = true
enable-threads = true
processes = {{ cinder_wsgi_processes }}
threads = {{ cinder_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = {{ cinder_wsgi_buffer_size }}
thunder-lock = true
logfile-chmod = 644
